# 依赖
node_modules/
npm-debug.log
yarn-error.log
yarn-debug.log
package-lock.json

# output
dist/
build/
lib/
output/

# coverage
coverage/

# 编辑器和IDE
.idea/
.vscode/
*.swp
*.swo

# os
.DS_Store
Thumbs.db

# env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# temp
tmp/
temp/
*.log
